.sidebar-option{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border: 1px solid #a9a9a9;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar-option.active{
    background-color: #ffe6e1;
    border-color: tomato;
}